@import "tailwindcss";



.container{
    width: 1280px;
    margin: auto;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
